<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Middleman Profile</title>
</head>

<body>
     <div>
        Solved issues:
        <% for (var i = 0; i < results.length; i ++) { %>
            <% if(results[i].status === 'completed') { %>
            <details>
                <summary>
                    <%= results[i].summary %>
                </summary>
                <p>
                    <%= results[i]._id %>
                </p>
                <p>
                    <%= results[i].description %>
                </p>
                <p>
                    <%- JSON.stringify(results[i].address) %>
                </p>
                <p>
                    <%= results[i].phone %>
                </p>
                <form action="/problem/<%= results[i]._id %>" method="get">
                    <input type='submit' value='Details' />
                </form>
            </details>
            <% } %>
        <% } %>
    </div>
    <div>
        On going issues:
        <% for (var i = 0; i < results.length; i ++) { %>
            <% if(results[i].status === 'onGoing') { %>
            <details>
                <summary>
                    <%= results[i].summary %>
                </summary>
                <p>
                    <%= results[i]._id %>
                </p>
                <p>
                    <%= results[i].description %>
                </p>
                <p>
                    <%- JSON.stringify(results[i].address) %>
                </p>
                <p>
                    <%= results[i].phone %>
                </p>
                <form action="/problem/<%= results[i]._id %>" method="get">
                    <input type='submit' value='Details' />
                </form>
            </details>
            <% } %>
        <% } %>
    </div>
    <div>
        Pending issues:
        <% for (var i = 0; i < results.length; i ++) { %>
            <% if(results[i].status === 'pending') { %>
            <details>
                <summary>
                    <%= results[i].summary %>
                </summary>
                <p>
                    <%= results[i]._id %>
                </p>
                <p>
                    <%= results[i].description %>
                </p>
                <p>
                    <%- JSON.stringify(results[i].address) %>
                </p>
                <p>
                    <%= results[i].phone %>
                </p>
            </details>
            <% } %>
        <% } %>
    </div>
    <form action='/auth/logProblem' method='post'>
        <input type="text" name="summary" placeholder="Summary" /><br/>
        <textarea rows="7" name="description" placeholder="Tell us about your problem"></textarea><br/>
        <input type="text" name="addressLine1" placeholder="Street adress, P.O. box, company name, etc" /><br/>
        <input type="text" name="addressLine2" placeholder="Apartament, suite, unit, building, floor, etc" /><br/>
        <input type="text" name="city" placeholder="City" /><br/>
        <input type="text" name="state" placeholder="State" /><br/>
        <input type="text" name="zip" placeholder="Zip" /><br/>
        <input type="text" name="country" placeholder="Country" /><br/>
        <input type="tel" name="phone" placeholder="Phone number" /><br/>
        <input type='submit' value='Send' />
    </form>
    <form action="/auth/logOut" method="post">
        <input type="submit" value="Log out">
    </form>
</body>

</html>
